@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;


}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: beige;
}


.container{

    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;

}

.navigation.active{

    width: 80px ;    
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.navigation ul li:nth-child(1){

    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background:beige;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color:var(--blue);
}


.navigation ul li .icon{

    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li .title{

    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
}


.navigation ul li .icon ion-icon{
    font-size: 1.75em;

}


.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px beige;
    pointer-events: none;


}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px beige;
    pointer-events: none;

}
.dropdown1{
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 0px;
    
}

div.dropdown.one{

    margin-bottom: 25px;
}



div.dropdown{
    margin-left: 100px;
    
}

div.submit{
    margin-left: 100px;
    margin-top: 10px;

}
.logo{
    margin-bottom: 100px;
    margin-left: 100px;
    width: 5px;
    max-width: 10%;
}


.chart {
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 20px;
    transition: 0.5s;
}

.chart.active{
    margin-left: 200px;
}





div.data{
    display: flex;
    margin-left: 0px;
    transition: 0.5s;
}









div.child{
    width: 50%;
}

div.child.one{

    margin-left: 350px;
    margin-top: 100px;
    height: 200px;
    max-width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    position: relative;
    color: #287bff;
    transition: 0.5s;

}

div.child.one h1{
    margin-top: 10px;
    margin-left: 40px;
}

div.child.one.active{
    margin-left: 200px;
}




div.child.two{
    max-width: 550px;
    background-color: white;
    height: 200px;
    margin-left: 50px;
    margin-top: 100px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

div.child.two h1{
    margin-top: 15px;
    margin-left: 20px;
    color: #287bff;

}

div.child.two h1,div.child.two h2 {
    display: inline-block;
    margin-right: 10px;
}

.main{

    position: relative;
    width: calc(100% - 100px);
    Left: 300px;
    min-height: 5vh;
    transition: 0.5s;
    background-color: beige;
}
.main.active{
    width: calc(100% - 80px);
    Left: 80px;

}

.toggle{

    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}


