<!doctype html>
<html>

  <head>
    <link rel="stylesheet"  href="/static/mystyle2.css" />
  </head>
 
 

  <body>
   <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href ="#">
            <span class="icon"><ion-icon name="logo-bitcoin"></ion-icon></span>
            <span class ="title">Crypto analysis</span>
          </a>
        </li>
        <li>
          <a href ="#">
            <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
            <span class ="title">Graph</span>
          </a>
        </li>
        <li>
          <a href ="#">
            <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
            <span class ="title"> Trade Analysis</span>
          </a>
        </li>
      </ul>
    </div>
   </div>

   <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
  
    </div>
   </div>


   <form method="post" class ="dropdown1" action="/dash/graph" >
    <label for="type">Choose the Coin:</label>
    <select name="coins" id="coins">
      <option value="{{coin}}" selected disabled hidden>{{coin}}</option>
      {% for k in pairlist %} 
        <option value="{{k}}">{{k}}</option>
      {% endfor %}
    </select>
  
    <br>
    <label for="type">Choose the type:</label>
    <select name="type" id="type">
        <option value="{{option}}" selected disabled hidden>{{option}}</option>
        <option value="Price History">Price History</option>
        <option value="Transaction History">Transaction History</option>
        <option value="Transaction Volume">Transaction Volume</option>
    </select>
    <input type="submit" name="next" value="Next">
  </form>

  <script>

    const coin = document.getElementById('coins');
    const t = document.getElementById('type');
    coin.addEventListener('change', change);
    t.addEventListener('change', change);
    function change(){
      console.log(coin.value);
      console.log(t.value);

    }

  </script>